<div class="container">

<h2> SysmanValidator Directives</h2>
<div class="example-container">
  <mat-form-field>
    <input SysmanValidator="onlyNumbers" matInput placeholder="onlyNumbers" >
  </mat-form-field>
<br>

<div class="example-container">
  <mat-form-field>
    <input SysmanValidator="onlyLowerCaseLetters" matInput placeholder="onlyLowerCaseLetters" >
  </mat-form-field>
<br>

<div class="example-container">
  <mat-form-field>
    <input SysmanValidator="onlyUpperCaseLetters" matInput placeholder="onlyUpperCaseLetters" >
  </mat-form-field>
<br>

<div class="example-container">
  <mat-form-field>
    <input SysmanValidator="onlyLetters" matInput placeholder="onlyLetters" >
  </mat-form-field>
<br>

<div class="example-container">
  <mat-form-field>
    <input SysmanValidator="decimalNumbers" matInput placeholder="decimalNumbers" >
  </mat-form-field>
<br>

<hr>
<h2>SysmanFormatter Directives</h2>

<div class="example-container">
  <mat-form-field>
    <input SysmanFormatter='creditCard' matInput placeholder="SysmanFormatterCard" >
  </mat-form-field>
<br>


<div class="example-container">
  <mat-form-field>
    <input SysmanFormatter='upperCase' matInput placeholder="SysmanFormatterUpper" >
  </mat-form-field>
<br>

<div class="example-container">
  <mat-form-field>
    <input SysmanFormatter='lowerCase' matInput placeholder="SysmanFormatterLower" >
  </mat-form-field>
<br>



<div class="example-container">
  <mat-form-field>
    <input SysmanFormatter='milesDots' matInput placeholder="SysmanFormatterMilesDots" >
  </mat-form-field>
<br>




</div>


