<h2>Sysman Validators with reactive form exmaple
</h2>
<form [formGroup]="checkoutForm" autocomplete="off" >
    <mat-form-field class="example-full-width">
        <input matInput placeholder="letters" formControlName="letters" SysmanValidator="letters">
        <mat-hint [class.shows]="!lettersHasError" class="text-error">{{errorMsg}}</mat-hint>
    </mat-form-field>
<br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="integer numbers" formControlName="intNumbers" SysmanValidator="intNumbers">
        <mat-hint [class.shows]="!intNumberHasError" class="text-error">{{errorMsg}}</mat-hint>
    </mat-form-field>
<br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="decimal numbers" formControlName="decNumbers" SysmanValidator="decNumbers">
        <mat-hint [class.shows]="!decNumberHasError" class="text-error">{{errorMsg}}</mat-hint>
      </mat-form-field>
<br>    
<br>    
    <button mat-raised-button class="button" type="submit" (click)="onSubmit(checkoutForm.value)" >Purchase</button>
  
  </form>
